<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>网络151C</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data" action="batch">
    <p><input type="file" style="font-size: 30px" name="file" multiple="multiple"/></p>
    <p><input type="submit" style="font-size: 30px" value="上传"/></p>
</form>
<br>
<br>
<br>
<br>
<h4>请上传你收集的关于网络151的图片。</h4>
<h5>打开窗口直接直接选择多个图片即可</h5>
<h5>服务器资源有限,请尽量不要上传视频,别太大哦 </h5>
<h4>例子：直接选中多个上传</h4>
<img src="../wl/jc/jc.jpg">
</body>
</html>